/* ------------------
  TECHCRUNCH :: Left Rail - 20
------------------------- */

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/opensans-regular/opensans-regular-webfont.eot');
    src: url('../../fonts/opensans-regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/opensans-regular/opensans-regular-webfont.woff') format('woff'),
         url('../../fonts/opensans-regular/opensans-regular-webfont.ttf') format('truetype'),
         url('../../fonts/opensans-regular/opensans-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------
  Widget Container
------------------------- */
#grv_widget {
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: 'Open Sans', HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #3e433e;
}

/* ------------------
  Widget Title
------------------------- */
.grv_stories_header {
  margin: 0;
  display: none;
}


/* ------------------
  Articles
------------------------- */
ul.grv_articles {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
  /*
  margin-left: 1.2em;
  margin-bottom: 2em;
  */
}

li.grv_article {
  margin: 0;
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  min-height: 60px;
}

a.grv_article_title {
  text-decoration: none;
  font-family: 'Open Sans', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #3e433e;
	position: relative;
	display: block;
	overflow: hidden;
}
a.grv_article_title:hover {
  color: #089e00;
}

.grv_date {
	display: block;
	color: #aab6aa;
  font-family: 'Open Sans', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: 15px;
}

/* Has Image */
.grv_has_image a.grv_article_title,
.grv_has_image .grv_date {
  padding-left: 98px;
}
.grv_has_image a.grv_img_link {
	overflow: hidden;
	display: block;
	position: absolute;
	top: 15px;
	left: 0px;
	width: 88px;
	height: 60px;
}


/* Sponsored */

.grv_is_sponsored .grv_publisher .grv_sponsored {
  display: block;
  color: #999;
  font-size: 10px;
  line-height: 20px;
  vertical-align: middle;
  margin: 0;
}

.grv_is_sponsored.grv_has_image .grv_publisher .grv_sponsored {
  display: block;
  position: absolute;
  top: 63px;
  left: 0px;
  width: 88px;
  height: 12px;
  background: rgba(0,0,0,.6);
  color: rgba(255,255,255,.7);
  font-size: 9px;
  line-height: 12px;
  vertical-align: middle;
  text-align: center;
  z-index: 2;
}



/* ------------------
 	Gravity Attribution
------------------------- */

.grv_badge_inner {
  display: none;
}
#grvWidgetStylesLoaded_techcrunch_left_rail_20_1fc960cd5b26b98994e22494c4617e47_css {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
